//@import url("https://use.typekit.net/pnd7qhn.css");

/*Fonts*/
$proxima: proxima-nova, sans-serif;
$proxima-extra: proxima-nova-extra-condensed, sans-serif;
$skolar: skolar-latin, serif;
$mono: input-mono, monospace;
/*Fonts*/