/*Colors*/
$white-main: #fafafa;
$white-secondary: #ededed;
$black-secondary: #222;
$yellow-main: #ffe500;
$red-main: #f72732;
$gray-main: #8d8d8d;
$blue-menu: #000c2d;
$gray-secondary: #aaa;
/*Colors*/

$white-cons: #7C9885;
$gray-aifa: #deeadb;
$gray-aifa-2: #cccc33;
$black-aifa: #033F63;
$purple-aifa: #6e6e6e;
$green-cons: #7C9885;
$cream-cons: #e0e0e0;
$bolder: 900;